<section class="bg-white dark:bg-gray-900 py-10">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <h3
            class="mb-1 text-2xl font-bold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white">
            Alur Pelaksanaan PRA PPDB 2024</h3>
        <p class="md:mb-32 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
            Info Pra-Penerimaaan Peserta Didik Baru (PRA PPDB) Jenjang SMP </p>
        <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
            <div class="flex flex-wrap justify-center items-center mt-8 text-gray-500 sm:justify-between">
                <img id="featured-image" src="./../assets/info_grafik_pra_ppdb.jpg"
                    class="rounded-lg w-full max-w-600px h-auto transition-transform duration-300 cursor-pointer transform md:scale-150"
                    alt="prappdb-jadwal-pra-ppdb" />
            </div>
        </div>
    </div>
</section>