<div class="flex flex-col md:items-center  justify-center w-full mb-16">
    <div class="flex pt-20 px-6 md:justify-center pb-10">
        <ol class="items-center space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse">
            <li class="flex items-center text-green-600 space-x-2.5 rtl:space-x-reverse">
                <span class="flex items-center justify-center w-8 h-8 border border-green-600 rounded-full shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd"
                            d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                            clip-rule="evenodd" />
                    </svg>
                </span>
                <span>
                    <h3 class="font-medium leading-tight">Pendaftaran</h3>
                </span>
            </li>
            <ng-container *ngIf="hasilRegistrasi.status === null">
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse">
                    <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                        2
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Proses Verifikasi</h3>
                    </span>
                </li>
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse">
                    <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                        3
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Hasil Verifikasi</h3>
                    </span>
                </li>
            </ng-container>
            
            <ng-container *ngIf="hasilRegistrasi.status === 'Menunggu verifikasi'">
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse">
                    <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                        2
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Proses Verifikasi</h3>
                    </span>
                </li>
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse">
                    <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                        3
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Hasil Verifikasi</h3>
                    </span>
                </li>
            </ng-container>
            <ng-container *ngIf="hasilRegistrasi.status === 'Verifikasi Operator'">
                <li class="flex items-center text-green-600 space-x-2.5 rtl:space-x-reverse">
                    <span
                        class="flex items-center justify-center w-8 h-8 border border-green-600 rounded-full shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd"
                                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Proses Verifikasi</h3>
                    </span>
                </li>
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse">
                    <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                        3
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Hasil Verifikasi</h3>
                    </span>
                </li>
            </ng-container>
            <ng-container *ngIf="hasilRegistrasi.status === 'Revisi'">
                <li class="flex items-center text-green-600 space-x-2.5 rtl:space-x-reverse">
                    <span
                        class="flex items-center justify-center w-8 h-8 border border-green-600 rounded-full shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd"
                                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Proses Verifikasi</h3>
                    </span>
                </li>
                <li class="flex items-center text-green-600 space-x-2.5 rtl:space-x-reverse">
                    <span
                        class="flex items-center justify-center w-8 h-8 border border-green-600 rounded-full shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd"
                                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Hasil Verifikasi</h3>
                    </span>
                </li>
            </ng-container>
            <ng-container *ngIf="hasilRegistrasi.status === 'Disetujui'">
                <li class="flex items-center text-green-600 space-x-2.5 rtl:space-x-reverse">
                    <span
                        class="flex items-center justify-center w-8 h-8 border border-green-600 rounded-full shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd"
                                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Proses Verifikasi</h3>
                    </span>
                </li>
                <li class="flex items-center text-green-600 space-x-2.5 rtl:space-x-reverse">
                    <span
                        class="flex items-center justify-center w-8 h-8 border border-green-600 rounded-full shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd"
                                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight">Hasil Verifikasi</h3>
                    </span>
                </li>
            </ng-container>
        </ol>
    </div>

    <div class="grid mb-8 sm:grid-cols-1 divide-y divide-gray-100 border border-gray-300 rounded-lg md:w-2/3">
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    Nomor pendaftaran
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="text-blue-900 text-sm rounded-lg">
                {{hasilRegistrasi.no_pendaftaran}}</div>
        </div>
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    NIK
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="text-blue-900 text-sm rounded-lg">
                {{hasilRegistrasi.nik}}</div>
        </div>
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    NISN
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="text-blue-900 text-sm rounded-lg">
                {{hasilRegistrasi.nisn}}</div>
        </div>
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    Nama
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="text-blue-900 text-sm rounded-lg">
                {{hasilRegistrasi.nama_lengkap}}</div>
        </div>
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    Sekolah Asal
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="text-blue-900 text-sm rounded-lg">
                {{hasilRegistrasi.sekolah_asal}}</div>
        </div>
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    Sekolah Tujuan
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="text-blue-900 text-sm rounded-lg">
                {{hasilRegistrasi.sekolah_tujuan}}</div>
        </div>
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    Status
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="rounded-lg">
                <span class="animate-pulse text-xs rounded-full px-4 py-1.5 mr-3" 
                [ngClass]="{'bg-green-700 text-white': hasilRegistrasi.status === 'Disetujui', 
                'bg-red-700 text-white' : hasilRegistrasi.status === 'Revisi',
                'bg-blue-700 text-white' : hasilRegistrasi.status === 'Verifikasi Operator',
                'bg-gray-700 text-white' : hasilRegistrasi.status === 'Menunggu verifikasi' }">
                    {{hasilRegistrasi.status}}</span>
            </div>
        </div>
        <div class="grid gap-2 grid-cols-2 py-2.5">
            <div class="ml-4 flex flex-row justify-between">
                <label class=" text-sm font-medium text-blue-900">
                    Keterangan
                </label>
                <label class="text-sm font-medium text-blue-900">
                    :
                </label>
            </div>
            <div class="text-blue-900 text-sm rounded-lg">
                {{hasilRegistrasi.keterangan}}</div>
        </div>
        <ng-container  *ngIf="hasilRegistrasi.pin !== undefined">
            <div class="grid gap-2 grid-cols-2 py-2.5">
                <div class="ml-4 flex flex-row justify-between">
                    <label class=" text-sm font-medium text-blue-900">
                        PIN
                    </label>
                    <label class="text-sm font-medium text-blue-900">
                        :
                    </label>
                </div>
                <div class="text-blue-900 text-sm rounded-lg">
                    {{hasilRegistrasi.pin}}</div>
            </div>
        </ng-container> 
        <ng-container  *ngIf="hasilRegistrasi.status === 'Revisi'">
            <div class="grid gap-2 grid-cols-2 py-2.5">
                <div class="ml-4 flex flex-row justify-between">
                    <label class=" text-sm font-medium text-blue-900">
                        Action
                    </label>
                    <label class="text-sm font-medium text-blue-900">
                        :
                    </label>
                </div>
                <div class="text-blue-900 text-sm rounded-lg">
                    <button type="button" (click)="perbaikiData()"
                        class=" text-white bg-colors-primary hover:bg-colors-secondary hover:text-black font-medium rounded-lg text-xs px-2.5 py-1 text-center">
                        Perbaiki Data
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>