<div class="grid gap-8 mb-4 sm:grid-cols-5 p-4 mt-20">
    <div class="md:col-span-4">
        <div class="w-full">
            <h4 class="font-medium leading-none text-2xl text-start pb-8">{{titlePlayVideo}}</h4>
            <div class="relative w-full h-0 pt-[60.25%]"> <!-- Maintain aspect ratio (16:9) -->
                <iframe class="absolute top-0 left-0 w-full h-full rounded-lg" [src]="safePlayVideo"
                    allow="accelerometer; autoplay" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

    <div class="gap-4 md:col-span-1 md:gap-6 sm:grid-cols-2">
        <h4 class="font-medium leading-none text-2xl text-start pb-4">List Tutorial</h4>
        <div class="cursor-pointer grid grid-cols-2 gap-2 md:flex md:flex-col-reverse pb-4" (click)="gantiPlay(this.safeInput!, 'Tutorial Input Data Siswa (Operator SD)')">
            <img src="../../../assets/tutor_input.png" class="w-full rounded-md " alt="Dikbud Tangerang Selatan" />
            <p class="leading-none text-md text-start md:font-normal font-bold">Tutorial Input Data Siswa (Operator SD)</p>
        </div>
        <div class="cursor-pointer grid grid-cols-2 gap-2 md:flex md:flex-col-reverse pb-4" (click)="gantiPlay(this.safeDaftar!, 'Tutorial Pendaftaran Pra PPDB')">
            <img src="../../../assets/tutor_daftar.png" class="w-full rounded-md" alt="Dikbud Tangerang Selatan" />
            <p class="leading-none text-md text-start md:font-normal font-bold">Tutorial Pendaftaran Pra PPDB</p>
        </div>
        <div class="cursor-pointer grid grid-cols-2 gap-2 md:flex md:flex-col-reverse pb-4" (click)="gantiPlay(this.safeVerif!, 'Tutorial Verifikasi Pra PPDB (Operator SMPN)')">
            <img src="../../../assets/tutor_verif.png" class="w-full rounded-md" alt="Dikbud Tangerang Selatan" />
            <p class="leading-none text-md text-start md:font-normal font-bold">Tutorial Verifikasi Pra PPDB (Operator SMPN)</p>
        </div>
    </div>


    <!-- 
        
        
        
         -->
</div>