<div
    class="w-full fixed inset-0 z-50 flex justify-end items-end h-full pointer-events-none">
    <div class="relative w-full sm:h-auto pointer-events-auto">
        <div class="relative p-5 bg-gray-50 rounded-t-lg shadow sm:p-5 flex flex-col gap-1">
            <span class="flex flex-row gap-4 justify-start items-center p-2 w-auto h-auto">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"  class="w-8 h-8 text-red-500">
                    <path fill-rule="evenodd"
                        d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                        clip-rule="evenodd" />
                </svg>
                <p class="text-xl text-gray-900 font-medium">Informasi</p>
            </span>
            <p class="mb-4 text-gray-900 bg-red-50 p-5 rounded-md font-medium">Bagi Siswa di Luar Kota Tangerang Selatan Yang Ingin Mengikuti PPDB di Kota Tangerang Selatan, Silahkan Datang Langsung ke SMPN yang Dituju Dengan Membawa KK, KIA, AKTE KELAHIRAN Serta Raport Asli dan Legalisir.</p>
            <div class="flex justify-end items-center space-x-4">
                <button type="button" (click)="actionModal()"
                    class="py-2 px-3 text-sm font-medium text-center text-white bg-colors-primary rounded-lg hover:bg-colors-secondary hover:text-black">
                Ya, saya mengerti
                </button>
            </div>
        </div>
    </div>
</div>